.filter{
    background-color: #fff;
}
/* .filter h4{
    margin-bottom: 1em;
} */

.filter__price--inputs{
    width: 50%;
    display: flex;
    align-items: center;
}
.filter__price--inputs:first-child{
    justify-content: start;
}
.filter__price--inputs:last-child{
    justify-content: end;
}
.filter__price--inputs input{
    width: inherit;
    border: 1px solid rgba(128, 128, 128, 0.3);
    border-radius: 8px;
}
.filter__price--inputs p{
    margin: 0 4px 0 0;
}
.rc-slider-handle{
    opacity: 1 !important;
}


/* skeleton */
.filter__price-skeleton--inputs.animation{
    width: 40%;
    height: 30px;
    background-color: rgba(228, 228, 228, 0.8);
    overflow: hidden;
}

.filter__price-skeleton--inputs.animation div{
    width: 80% !important;
    height: 100% !important;
    animation: loading 2.5s infinite;
    background-color: rgba(200, 200, 200, 0.473);
}

.filter__price-skeleton--pointer .animation{
    width: 40%;
    height: 20px;
    background-color: rgba(228, 228, 228, 0.8);
    overflow: hidden;
}
.filter__price-skeleton--pointer .animation div{
    width: 80% !important;
    height: 100% !important;
    animation: loading 2.5s infinite;
    background-color: rgba(200, 200, 200, 0.473);
}

@keyframes loading {
    0% { transform: translateX(-150%) skewX(-20deg);}
    50% { transform: translateX(-60%) skewX(-20deg);}
    100% { transform: translateX(150%) skewX(-20deg);}
}

.accordion-color .input-group{
    width: auto !important;
}

.filter__content--btn-submit{
    background-color: #070a57;
}
.filter__content--btn-submit:hover{
    background-color: rgba(7, 9, 77, 0.882);
    color: #eeeeee;
}
