.accordion-skeleton{
    width: 100%;
    height: 15px;
    background-color: rgba(228, 228, 228, 0.8);
    overflow: hidden;
    margin-top: 5px;
}
.accordion-skeleton div{
    width: 80% !important;
    height: 100% !important;
    animation: loading 2.5s infinite;
    background-color: rgba(200, 200, 200, 0.473);
}

@keyframes loading {
    0% { transform: translateX(-150%) skewX(-20deg);}
    50% { transform: translateX(-60%) skewX(-20deg);}
    100% { transform: translateX(150%) skewX(-20deg);}
}
